<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ben.translateapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="android.translateapp.MainActivityTab"
            android:label="@string/title_activity_main_tab"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

        <activity
            android:name="android.translateapp.AddwordActivity"
            android:label="@string/title_activity_addword"
            android:parentActivityName="android.translateapp.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.translateapp.MainActivity" />
        </activity>
        <activity
            android:name="android.translateapp.SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName="android.translateapp.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.translateapp.MainActivity" />
        </activity>
        <activity android:name="android.translateapp.WordDetailActivity"></activity>
        <activity android:name="android.translateapp.WordDetailTopActivity"></activity>
    </application>

</manifest>